canvas
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media (min-aspect-ratio: 1280/720) {
    canvas
    {
        width: 100vw !important;
        height: auto !important;
    }
}

@media (max-aspect-ratio: 1280/720) {
    canvas
    {
        width: auto !important;
        height: 100vh !important;
    }
}