canvas
{
    position: fixed;
    z-index: -1;
    image-rendering: pixelated;
}

@media (min-aspect-ratio: 1280/720) {
    canvas
    {
        left: 0;
        top: calc(((100vw * 720 / 1280) - 100vh) / -2);
        width: 100vw !important;
        height: auto !important;
    }
}

@media (max-aspect-ratio: 1280/720) {
    canvas
    {
        top: 0;
        left: calc(((100vh * 1280 / 720) - 100vw) / -2);
        width: auto !important;
        height: 100vh !important;
        margin: auto;
    }
}