.message
{
    display: flex;
}

.message__icon
{
    flex: 0 0 auto;

    margin-right: .75em;

    font-size: 1.2em;
}

.message__title
{
    margin-bottom: 0.25em;

    font-size: 1.2em;
    line-height: 1.6em;
}

.message__description
{
    line-height: 1.3em;
}

.message + .message
{
    margin-top: 30px;
}